{% load static %}
<a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/icono1.png' %}"  class="rounded-pill" style="margin-left: 20px; width: 40px;">   
</a>

<div class="collapse navbar-collapse" id="opciones">
    <ul class="tamaño-bar navbar-nav"style="margin-left: 15px;">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'sobreNosotros' %}">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'stock' %}">Articulos Disponibles</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'contacto' %}">Contactanos</a>
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
        </li>
        <a class="nav-link" href="{% url 'articulos' %}" style="color: white;">Revisar Stock</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'perfil' %}">Perfil Cliente: {{ user.email }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
        </li>
        {% endif %}
    </ul>
    
    <div class="derecha" >
        {% if user.is_authenticated %}
            <a href="#" style="padding: 10px; color:blueviolet; font-size: 12px;">Bienvenid@ {{ user.username }} </a>
            <a class="btn btn-primary" href="{% url 'cerrar' %}" id="userBookStop">
                <img src="{% static 'img/user-vector-icon.png' %}" alt="" width="20px">Cerrar sesión
            </a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}" id="userBookStop">
                <img src="{% static 'img/user-vector-icon.png' %}" alt="" width="20px">Iniciar sesión
            </a>
        {% endif %}
</div>
<div>